* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}
/* start header */
header {
  background-color: #eee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 80px;
  box-shadow: 5px 7px 10px 1px #9e9e9e, -3px -4px 10px 1px #9e9e9e;
  position: sticky;
  top: 0;
  z-index: 1;
}
header div.welcom {
  color: blue;
  background-color: #d9d8d8;
  padding: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 18px;
  animation-name: change-margin;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
header div.link {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
header div.link a {
  text-decoration: none;
  color: blue;
  text-align: center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
header div.link a:hover {
  color: white;
}
header div.link .home,
.about,
.services,
.content {
  background-color: #d9d8d8;
  padding: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
header div.link .home:hover {
  background-color: black;
}
header div.link .about:hover {
  background-color: black;
}
header div.link .services:hover {
  background-color: black;
}
header div.link .content:hover {
  background-color: black;
}
@keyframes change-margin {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 50px;
  }
  100% {
    margin-left: 0;
  }
}
/* end header */
/* start landing */
.landing {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 80px);
  margin: 0;
}
.landing .intro-text {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  margin-left: 200px;
}
.landing .photo img {
  width: 400px;
  height: calc(100vh - 130px);
  margin: 0;
  margin-right: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-top: 20px;
}
.landing .intro-text {
  line-height: 1.8;
}
.landing .intro-text span {
  color: red;
  word-spacing: 10px;
  font-size: 20px;
  font-weight: bold;
}
.landing .intro-text .name {
  font-size: 36px;
  color: blue;
  font-weight: bold;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
}
.landing .intro-text .name:hover {
  margin-left: 30px;
}
.landing .intro-text .p {
  color: rgb(124, 123, 123);
}
.landing .intro-text a {
  color: white;
  text-decoration: none;
  background-color: rgb(255, 60, 0);
  width: fit-content;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 7px 15px;
  margin-top: 15px;
  text-align: center;
  position: relative;
}
.landing .intro-text a::after {
  content: "،";
  position: absolute;
  top: -5px;
  left: 8px;
}
.landing .intro-text a::before {
  content: "،";
  position: absolute;
  top: -5px;
  right: 8px;
}
/* end landing */
/* start about */
.about-landing {
  text-align: center;
  margin: 20px;
  height: calc(100vh - 40px);
  background-color: #eee;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  line-height: 1.8;
  box-shadow: 5px 7px 10px 1px #9e9e9e, -5px -7px 10px 1px #9e9e9e;
  position: relative;
}
.about-landing h1 {
  padding: 20px;
  color: blue;
  position: relative;
}
.about-landing h1::after {
  content: "";
  border: 10px solid blue;
  position: absolute;
  border-color: blue transparent transparent transparent;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  top: 40px;
  animation-name: change-margin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.about-landing h1::before {
  content: "";
  border: 10px solid blue;
  position: absolute;
  border-color: blue transparent transparent transparent;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  top: 40px;
  right: 709px;
  animation-name: change-margin-right;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes change-margin-right {
  0% {
    margin-right: 0;
  }
  50% {
    margin-right: 50px;
  }
  100% {
    margin-right: 0;
  }
}
.about-landing p span {
  color: blue;
}
.about-landing p {
  margin: 20px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}
.flex div {
  padding: 20px;
  margin: 10px;
}
.flex .ul-one ul {
  list-style: none;
  padding: 5px 0;
}
.flex .ul-one ul li {
  padding: 5px 0;
}
.flex .ul-one ul span {
  color: blue;
  font-weight: bold;
  background-color: #9e9e9e;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.flex .ul-two ul span.ss {
  color: blue;
  font-weight: bold;
  background-color: #9e9e9e;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.flex .ul-two ul span {
  color: blue;
}
.flex .ul-two ul {
  list-style: none;
}
.flex .ul-two ul li {
  padding: 5px 0;
}
.flex .space {
  background-color: blue;
  width: 3px;
  height: 200px;
  padding: 0;
}
/* end about */
